{{define "layout"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/@unocss/runtime/uno.global.js"></script>
        <script src="https://unpkg.com/htmx.org@2.0.3"
            integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
            crossorigin="anonymous"></script>
        <title>Quilink</title>
    </head>
    <body>
        <div class="container mx-auto">
            <div class="font-thin">
                <h1>Profile Header</h1>
            </div>
            <div>
                <main id="content">
                    {{template "content" .}}
                </main>
            </div>
        </div>
    </body>
</html>
{{end}}